<div class="bac">
<div class="box">
        <section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-3 text-light">NEW ITEMS OF THIS SEASON </h3>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1 arrow" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 arrow" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" >

          <div class="carousel-inner" >
            <div class="carousel-item active" >
              <div class="row">

                <div class="col-md-4 mb-3" >
                  <div class="card cart">
                      <a href="">
                         <img class="img-fluid img" alt="100%x280" src="https://image.tmdb.org/t/p/w500/">

                      </a>
                    <div class="card-body">
                      <h4 class="card-title">ssss</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <div class="rat">
                          <i class="fa fa-star-o" style="font-size:24px"></i>
                          <span>5.6</span>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            
            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3" *ngFor="let movie of movies">
                  <div class="card">
                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                    <div class="card-body">
                      <h4 class="card-title">{{movie.title}}</h4>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>

                  </div>
                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>     
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</div>